.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.extra-button {
  color: pink;
  text-decoration: none;
  margin-right: 10px;
}
.menuNoLogin-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  font-size: large;
  display: flex;
  background-color: #000000;
  z-index: 1000;
}
.menuNoLogin-container .title {
  display: flex;
  align-items: center;
  margin-left: 25%;
  color: rgb(55, 138, 255);
  font-family: "Microsft JhengHei";
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 2px;
}

.title-container {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  /* background-color: #000000; */
  font-family: "Microsft JhengHei";
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 2px;
}
