/* src/styles/global.css */
:root {
  --primary-color: #1890ff; /* 主题颜色 */
  --background-color: #ececec; /* 背景颜色 */
  --container-width: 1200px; /* 容器宽度 */
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

.container {
  background-color: #ffffff;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.resumeDesign {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
